@charset "UTF-8";
 fieldset {
 	width:70%;
 	margin:20px auto;
 	border:1px solid green;
 	border-radius: 10px;
 }
 
 legend {
 	font-weight: bold;
 	font-size:20px;
 }
 
 input {
 	display: inline-block;
 	width:90%;
 	padding:8px;
 	margin:5px;
 }
 
 input:focus{
 	border:2px solid blue;
 	outline: none;
 }
 .book-form{
 	text-align: center;
 }
 
 button{
 	padding: 10px;
	background-color: #212529;
	color:white;
	border-style: none;
	font-weight: bold;
	border-radius: 5px;
 }
 button:hover{
 	cursor: pointer;
 	background-color: gray;
 }